<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='zeiss.pdflist.component'}"/>

<div data-sly-test="${!properties.pdfPath && wcmmode.edit}" class="cq:placeholder" data-emptytext="PDF List"></div>
<sly data-sly-use.model="com.zeiss.core.models.AssetList">
<div data-sly-test="${properties.pdfPath}" data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component" id="${component.id}">
	<div class="cmp-title">
		<h3>${properties.headline}</h3>
	</div>
	<div class="cmp-list" data-sly-list="${model.pdfList}">
		<ul>
			<a href="${item.path}">${item.title}</a> 
			<div class="cmp-list list-item-link">
				<a href="${item.path}"><button> Download</button></a><span> ${item.size}</span>
			</div>
		</ul>
	</div>
</div>